html body {
    height: 100%;
    font-family: 'Amatic SC';
    font-size: 20px;
    text-align: center;
    color: rgb(2, 2, 2);
    background-color: #f6d6f1;
  }

.header {
  font-weight: bold;
  font-size: 100px;
}

.center {
  font-size: 50px;
  color: white;
}

*/:root {
  --bs-body-bg: pink;
  box-sizing: border-box;
  border-width: 0cap;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.card {
    background-color: rgb(249, 226, 244);
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
    border: 18px solid #f6e2f8;
   }
   .card-img-top {
    border: 4px solid #f6e2f8;
   } 
   
   .rounded-circle {
    height: 50;
    opacity: 100%;
   }

  .body {
    background-color: #f3ace9d1 !important;
    border: 12px solid #f6e2f8;
  }

  .container {
    position: center;
    background-color: #f3ace9d1;
    background-image: url("/Users/Ian/Documents/CFG Project/floral.jpg");
    opacity: 70%; 
    border: 12px solid #f6e2f8;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.row {
  position: center;
  background-color: #f3ace9d1 !important;
  border: 12px solid #f6e2f8;
}

.container-fluid {
  position: center;
  background-image: url("/Users/Ian/Documents/CFG Project/floral.jpg");
  opacity: 70%;
  background-color: #f3ace9d1 !important;
  border: 12px solid #f6e2f8;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}


  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/Users/Ian/Documents/CFG Project/floral.jpg");
    opacity: 70%;
   max-width:100%;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: #faf4f9d1;
  }

  .nav-link {
    font-size: 40px;
    color: #f008cd;
  }

  .p {
    font-family: 'Fuzzy Bubbles';
    background: #f6d6f1;
  }

.image-box {
    max-height: 50px;
    height: 100%;
    margin: 50px 0;
}

.btn {
  background:#f3ace9d1;
  border-color: #f008cd;
  font-family: 'Fuzzy Bubbles';
}

root {
  --bs-pink:#d63384;
  --bs-body-bg: pink;
}